.cardContainer {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin: 0 auto; 
    max-width: 1200px; 
}
.card {
    display: block; /* Make the whole card clickable */
    text-decoration: none; /* Remove underline from the Link */
    background-color: black; /* White background */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure the image doesn't spill out */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow around the card */
    width: 30%; /* Fixed width for the card */
    height: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effect */
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px #f6ff00;
}

.cardContent {
    padding: 16px;
    text-align: center; 
}


.cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px; 
}

.cardTitle {
    font-size: 1.5rem;
    margin: 12px 0 8px;
    color: white; 
    font-weight: bold;
}

.cardPrice {
    font-size: 1.2rem;
    color: #f6ff00;
    font-weight: 600;
}
